In [1]:
"""
@Author: Mohammad Fatha
@Date: 2021-11-24
@Last Modified by: Mohammad Fatha
@Title : To create a dataframe from titanic.csv and perform operations on it.
"""
import findspark

In [3]:
findspark.init('/home/fatha/Downloads/spark-3.1.2-bin-hadoop3.2')

In [4]:
from pyspark.sql import *
spark = SparkSession.builder.getOrCreate()

2021-11-24 01:18:11,219 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
data = spark.read.option("inferSchema", "true").csv("hdfs://localhost:9000/Spark/titanic.csv", header=True)

In [7]:
data.show()

+--------+------+------+----+-----+-----+-------+--------+------+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked| class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+-------+--------+------+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|   7.25|       S| Third|  man|      true|null|Southampton|   no|false|
|       1|     1|female|38.0|    1|    0|71.2833|       C| First|woman|     false|   C|  Cherbourg|  yes|false|
|       1|     3|female|26.0|    0|    0|  7.925|       S| Third|woman|     false|null|Southampton|  yes| true|
|       1|     1|female|35.0|    1|    0|   53.1|       S| First|woman|     false|   C|Southampton|  yes|false|
|       0|     3|  male|35.0|    0|    0|   8.05|       S| Third|  man|      true|null|Southampton|   no| true|
|       0|     3|  male|null|    0|    0| 8.4583|       Q| Third|  man|      true|null| Queenstown|   no| true|
|       0|     1|  male|54.0|    0|    0|51.8625|       S| First|  man|      true|   E|Southampton|   no| true|
|       0|     3|  male| 2.0|    3|    1| 21.075|       S| Third|child|     false|null|Southampton|   no|false|
|       1|     3|female|27.0|    0|    2|11.1333|       S| Third|woman|     false|null|Southampton|  yes|false|
|       1|     2|female|14.0|    1|    0|30.0708|       C|Second|child|     false|null|  Cherbourg|  yes|false|
|       1|     3|female| 4.0|    1|    1|   16.7|       S| Third|child|     false|   G|Southampton|  yes|false|
|       1|     1|female|58.0|    0|    0|  26.55|       S| First|woman|     false|   C|Southampton|  yes| true|
|       0|     3|  male|20.0|    0|    0|   8.05|       S| Third|  man|      true|null|Southampton|   no| true|
|       0|     3|  male|39.0|    1|    5| 31.275|       S| Third|  man|      true|null|Southampton|   no|false|
|       0|     3|female|14.0|    0|    0| 7.8542|       S| Third|child|     false|null|Southampton|   no| true|
|       1|     2|female|55.0|    0|    0|   16.0|       S|Second|woman|     false|null|Southampton|  yes| true|
|       0|     3|  male| 2.0|    4|    1| 29.125|       Q| Third|child|     false|null| Queenstown|   no|false|
|       1|     2|  male|null|    0|    0|   13.0|       S|Second|  man|      true|null|Southampton|  yes| true|
|       0|     3|female|31.0|    1|    0|   18.0|       S| Third|woman|     false|null|Southampton|   no|false|
|       1|     3|female|null|    0|    0|  7.225|       C| Third|woman|     false|null|  Cherbourg|  yes| true|
+--------+------+------+----+-----+-----+-------+--------+------+-----+----------+----+-----------+-----+-----+
only showing top 20 rows

In [8]:
data.count()

891

In [30]:
titanic_filter=data.select("survived","sex", "age","alive", "who","pclass","embark_town")

In [31]:
titanic_filter.show(10)

+--------+------+----+-----+-----+------+-----------+
|survived|   sex| age|alive|  who|pclass|embark_town|
+--------+------+----+-----+-----+------+-----------+
|       0|  male|22.0|   no|  man|     3|Southampton|
|       1|female|38.0|  yes|woman|     1|  Cherbourg|
|       1|female|26.0|  yes|woman|     3|Southampton|
|       1|female|35.0|  yes|woman|     1|Southampton|
|       0|  male|35.0|   no|  man|     3|Southampton|
|       0|  male|null|   no|  man|     3| Queenstown|
|       0|  male|54.0|   no|  man|     1|Southampton|
|       0|  male| 2.0|   no|child|     3|Southampton|
|       1|female|27.0|  yes|woman|     3|Southampton|
|       1|female|14.0|  yes|child|     2|  Cherbourg|
+--------+------+----+-----+-----+------+-----------+
only showing top 10 rows

In [32]:
titanic_filter.filter("survived=1")

DataFrame[survived: int, sex: string, age: double, alive: string, who: string, pclass: int, embark_town: string]

In [33]:
titanic_filter.filter("survived=1").show()

+--------+------+----+-----+-----+------+-----------+
|survived|   sex| age|alive|  who|pclass|embark_town|
+--------+------+----+-----+-----+------+-----------+
|       1|female|38.0|  yes|woman|     1|  Cherbourg|
|       1|female|26.0|  yes|woman|     3|Southampton|
|       1|female|35.0|  yes|woman|     1|Southampton|
|       1|female|27.0|  yes|woman|     3|Southampton|
|       1|female|14.0|  yes|child|     2|  Cherbourg|
|       1|female| 4.0|  yes|child|     3|Southampton|
|       1|female|58.0|  yes|woman|     1|Southampton|
|       1|female|55.0|  yes|woman|     2|Southampton|
|       1|  male|null|  yes|  man|     2|Southampton|
|       1|female|null|  yes|woman|     3|  Cherbourg|
|       1|  male|34.0|  yes|  man|     2|Southampton|
|       1|female|15.0|  yes|child|     3| Queenstown|
|       1|  male|28.0|  yes|  man|     1|Southampton|
|       1|female|38.0|  yes|woman|     3|Southampton|
|       1|female|null|  yes|woman|     3| Queenstown|
|       1|female|null|  yes|woman|     1|  Cherbourg|
|       1|female|null|  yes|woman|     3| Queenstown|
|       1|  male|null|  yes|  man|     3|  Cherbourg|
|       1|female|14.0|  yes|child|     3|  Cherbourg|
|       1|female| 3.0|  yes|child|     2|  Cherbourg|
+--------+------+----+-----+-----+------+-----------+
only showing top 20 rows

In [34]:
titanic_filter.filter("survived=1 and pclass=1").show()

+--------+------+----+-----+-----+------+-----------+
|survived|   sex| age|alive|  who|pclass|embark_town|
+--------+------+----+-----+-----+------+-----------+
|       1|female|38.0|  yes|woman|     1|  Cherbourg|
|       1|female|35.0|  yes|woman|     1|Southampton|
|       1|female|58.0|  yes|woman|     1|Southampton|
|       1|  male|28.0|  yes|  man|     1|Southampton|
|       1|female|null|  yes|woman|     1|  Cherbourg|
|       1|female|49.0|  yes|woman|     1|  Cherbourg|
|       1|  male|null|  yes|  man|     1|Southampton|
|       1|female|38.0|  yes|woman|     1|       null|
|       1|female|23.0|  yes|woman|     1|Southampton|
|       1|  male|23.0|  yes|  man|     1|  Cherbourg|
|       1|female|19.0|  yes|woman|     1|Southampton|
|       1|female|22.0|  yes|woman|     1|Southampton|
|       1|female|null|  yes|woman|     1|Southampton|
|       1|  male|45.0|  yes|  man|     1|Southampton|
|       1|female|44.0|  yes|woman|     1|  Cherbourg|
|       1|female|58.0|  yes|woman|     1|  Cherbourg|
|       1|  male|40.0|  yes|  man|     1|  Cherbourg|
|       1|female|31.0|  yes|woman|     1|  Cherbourg|
|       1|female|32.0|  yes|woman|     1|  Cherbourg|
|       1|  male|38.0|  yes|  man|     1|Southampton|
+--------+------+----+-----+-----+------+-----------+
only showing top 20 rows

In [35]:
titanic_filter.filter("age>=0").sort(("age"), ascending=True).show()

+--------+------+----+-----+-----+------+-----------+
|survived|   sex| age|alive|  who|pclass|embark_town|
+--------+------+----+-----+-----+------+-----------+
|       1|  male|0.42|  yes|child|     3|  Cherbourg|
|       1|  male|0.67|  yes|child|     2|Southampton|
|       1|female|0.75|  yes|child|     3|  Cherbourg|
|       1|female|0.75|  yes|child|     3|  Cherbourg|
|       1|  male|0.83|  yes|child|     2|Southampton|
|       1|  male|0.83|  yes|child|     2|Southampton|
|       1|  male|0.92|  yes|child|     1|Southampton|
|       0|  male| 1.0|   no|child|     3|Southampton|
|       1|  male| 1.0|  yes|child|     3|Southampton|
|       0|  male| 1.0|   no|child|     3|Southampton|
|       1|female| 1.0|  yes|child|     3|Southampton|
|       1|female| 1.0|  yes|child|     3|  Cherbourg|
|       1|  male| 1.0|  yes|child|     2|  Cherbourg|
|       1|  male| 1.0|  yes|child|     2|Southampton|
|       0|female| 2.0|   no|child|     1|Southampton|
|       0|female| 2.0|   no|child|     3|Southampton|
|       0|female| 2.0|   no|child|     3|Southampton|
|       0|  male| 2.0|   no|child|     3| Queenstown|
|       0|  male| 2.0|   no|child|     3|Southampton|
|       0|female| 2.0|   no|child|     3|Southampton|
+--------+------+----+-----+-----+------+-----------+
only showing top 20 rows

In [36]:
titanic_filter.describe().show()

+-------+-------------------+------+------------------+-----+-----+------------------+-----------+
|summary|           survived|   sex|               age|alive|  who|            pclass|embark_town|
+-------+-------------------+------+------------------+-----+-----+------------------+-----------+
|  count|                891|   891|               714|  891|  891|               891|        889|
|   mean| 0.3838383838383838|  null| 29.69911764705882| null| null| 2.308641975308642|       null|
| stddev|0.48659245426485753|  null|14.526497332334035| null| null|0.8360712409770491|       null|
|    min|                  0|female|              0.42|   no|child|                 1|  Cherbourg|
|    max|                  1|  male|              80.0|  yes|woman|                 3|Southampton|
+-------+-------------------+------+------------------+-----+-----+------------------+-----------+

In [37]:
titanic_filter.agg({"age":"max","who":"max"}).show()

+--------+--------+
|max(age)|max(who)|
+--------+--------+
|    80.0|   woman|
+--------+--------+

In [38]:
titanic_filter.printSchema()

root
 |-- survived: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- alive: string (nullable = true)
 |-- who: string (nullable = true)
 |-- pclass: integer (nullable = true)
 |-- embark_town: string (nullable = true)